# 🔹 Python
_pycache_/
*.py[cod]
*.pyo

# 🔹 Virtual Environment
venv/
env/

# 🔹 Django

*.log




# 🔹 Environment variables (VERY IMPORTANT)
.env

# 🔹 OS files
.DS_Store
Thumbs.db

# 🔹 VS Code
.vscode/

# 🔹 PyCharm
.idea/